main {
    background-color: #FFFEFE;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700; left: 49.03px;
    font-family: "Open Sans";
}

p {
    color: #666666;
    font-size: 18px;
    font-weight: 400; line-height: 24.51px;
        font-family: "Open Sans"
}

a  {
color: #089FE0;
font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans"
}


button {
    background-color: #089FE0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400; line-height: 24.51px;
    font-family: "Open Sans"
}

input   {

    color:  #999999;
    font-size: 16px; font-style: italic;
    font-weight: 600; line-height: 21.79px;
    font-family: "Open Sans"
    
}

label {
    color: #666666;
    font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        font-family: "Open Sans"
}